body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282846;
  background-color: white;
  font-size: 16px;
}

html,
body,
#root {
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: #4e5ee4;
  text-decoration: none;
}
